.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  height: 5vh;
  width: auto;
    background-color: #f386ab;
}
.dropbtn img {
  height: 3vh;
  width: auto;
}
.dropdown:hover .dropdown-content {display: block;}

.dropdown {
  position: relative;
  float: right;
  height: 10vh;
  width: auto;
}

.dropdown-content {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 0.1vw;
  overflow: auto;
display: none;
right: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 8px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
.header {
    width: auto;
    height: 6vh;
    background-color: #f386ab;
    position: sticky;
    top: 1vh;
}

#woopnews-logo{
    height: 6vh;

}

#footer{
    background-color: rgb(53, 116, 231);
    
}

#woopnewslogo{
    padding-top: 2vh;
}

#youtube{
    height: 10vh;
    margin-bottom: 10vh;
    padding-left: 65vh;
}

#email{
    height: 10vh;
    padding-bottom: 10vh;
    padding-left: 5vh;
}

.kopje{
    font-size: 5vh;
}

.zin{
    font-size: 2vh;
}

.head-image{
    width: 80vh;
    height: 40vh;
    margin-top: 5vh;
    margin-left: 5vh;
}

.head-text{
    margin-left: 1vh;
    font-family: 'hey-comic';
}